# Ignore node_modules
node_modules/
webapp/node_modules/
server/node_modules/

# Ignore build output (optional, for regular branch)
webapp/build/

# OS & IDE junk
.DS_Store
.env
.env.local
.vscode/
dist/
